@import 'var.less';
@breakpointMobile: ~"(max-width: 767px)";
@breakpointTablet: ~"(min-width: 768px) and (max-width: 1023px)";

html{
    cursor: none;
    scroll-behavior: smooth;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        appearance: textfield;
        -moz-appearance: textfield;
    }
}

body{
    font-family: @primaryFont;
    background-color: @backgroundColor;
    color: @textColor;

    .cursor-dot {
    position: fixed;
    width: 5px;
    height: 5px;
    background-color: @textColor;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    transition: width 0.3s ease, height 0.3s ease, opacity 0.3s ease;

        &.link-hover{
            width: 0;
            height: 0;
            opacity: 0;
        }
    }

    .cursor-outline{
    position: fixed;
    width: 35px;
    height: 35px;
    border: 1px solid @textColor;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9998;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    transition: width 0.3s ease, height 0.3s ease, background 0.3s ease, border 0.3s ease;

        &.link-hover{
        width: 55px;
        height: 55px;
        background-color: @textColor;
        border: none;
        }
    }
}

.container{
    max-width: 960px;
    margin: 0 auto;
}

header{
    .nav-bar{
        display: flex;
        flex-direction: row;
        justify-content: end;

        ul{
            list-style: none;

            li{

                a{
                    cursor: none;
                    font-size: 1.8em;
                    color: @textColor;
                    text-decoration: none;
                    transition: all ease 0.3s;
                }
            }
        }
    }
}

.headerNumber{
    h1{
        display: flex;
        justify-content: center;
        margin-top: 20vh;
        font-weight: 400;
        font-size: 8em;
        perspective: 1000px;
        transform-style: preserve-3d;

        #spanR{
            margin-right: 5px;
        }
        
        span{
            transform: rotateX(-25deg);
            transition: all 0.4s ease-in-out;
            text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
            filter: drop-shadow(0px 75px 10px @textColor);

            &:hover{
                color: @thirdColor;
                filter: drop-shadow(0px 45px 20px @thirdColor);
                transform: scaleX(1.1);
            }
        }
    }

    .headerForm{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-content: center;
        justify-content: center;

        .formText{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
            
            label{
                margin-bottom: 10px;
                font-weight: 400;
                transition: all ease 0.3s;
            }

            input{
                cursor: none;
                font-family: @primaryFont;
                text-align: center;
                width: 80px;
                height: 80px;
                border: none;
                border-radius: 50%;
                margin-bottom: 20px;
                outline: none;
                background-color: @thirdColor;
                transition: all ease 0.3s;

                &:hover{
                    transform: scale(1.1);
                }
            }
        }

        button{
            cursor: none;
            font-family: @primaryFont;
            align-self: center;
            width: 150px;
            height: 50px;
            border: none;
            border-radius: 16px;
            color: @backgroundColor;
            background-color: @textColor;
            transition: all ease 0.3s;

            &:hover{
                transform: scale(1.1);
                filter: drop-shadow(0px 0px 8px @textColor);
            }
        }
    }
}

main{
    display: block;
    text-align: center;
    align-content: center;

    h4{
        text-align: center;
        font-weight: 400;
        margin-bottom: 10px;
        margin-top: 40px;
    }

    .result-ball {
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            display: flex;                
            align-items: center;          
            justify-content: center;      
            cursor: none;
            font-family: @primaryFont;
            color: @backgroundColor;
            background-color: @accentColor;
            text-align: center;
            width: 100px;
            height: 100px;
            border: none;
            border-radius: 50%;
            margin-bottom: 20px;
            outline: none;
            transition: all ease 0.3s;

            &:hover{
                transform: scale(1.1);
            }
        }
    }
}

@media @breakpointMobile{
    .headerNumber h1 {
        font-size: 4em;
        margin-bottom: 100px;
    }
}